body {
    background-color: black;
}

#title {
  font-size: 50px;
  font-family: 'ConnectionRegular';
  font-weight: normal;
  text-align: center;
  color: #7FFF00;
}

#notebox {
  width: 550px;
  margin: auto;
}

#noteboxinput {
    width: 500px;
    height: 250px;
    background-color: black;
    padding: 10px 30px;
    border: 2px solid;
    border-radius: 4px;
    color: #7FFF00;
    font-family: 'ConnectionRegular';
    font-size: 16px;
}
